/* General CSS */

* {
  box-sizing: border-box !important; /* I don't think this is doing anything? Even with !important? */
}

body {
  background-color: #2F283C !important;
} /* Now I know why applying coloring to body for Eudaimonia didn't work.. it was because of Bootstrap! !important handles this */

/* Navbar and Header CSS */

.navbar-brand {
  position: relative;
  background: url(../Images/icons/Sunspot.png) no-repeat;
  width: 170px;
  height: 50px;
  left: 15px;
  background-size: contain;
}

.navbar-brand,
.nav-link {
  color: #CE9045;
  transition: all 0.3s ease;
  font-size: 25px;
  font-family: "Acme";
}

.nav-link {
  position: relative;
}

.nav-link:hover,
.nav-link:active,
.btn-secondary:hover,
.btn-secondary:active {
  color: #E04327 !important;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #E04327;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.header-container {
  background-image: url(../Images/hero/GGBA.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-container h1 {
  font-size: 80px;
  font-family: "Acme";
  color: #CE9045;
  text-shadow: 2px 2px 5px #2F283C;
}

/* Blurb section CSS */

.border-danger {
  background-color: #3B4566;
  border-radius: 10px;
}

.blurb-info {
  color: #C97D60;
  font-family: "Acme";
  font-size: 25px;
  padding-top: 30px;
}

/* Info section CSS */

.mb-4 {
  color: #CE9045;
  font-family: "Acme";
}

.h-101 {
  border-color: #E04327 !important;
  transition: all 0.3s;
}

.h-101:hover {
  transform: scale(1.15);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} /* To make it so all the cards are the same size */

.card-body {
  background-color: #3B4566;
}

.card-title {
  color: #CE9045;
  font-family: "Acme";
  font-size: 24px;
}

hr {
  background: #E04327;
  margin: -0.75rem;
}

.card-text {
  color: #C97D60;
  font-family: "Acme";
  font-size: 21px;
}

.btn-secondary {
  color: #CE9045 !important;
  background-color: #577192 !important;
  border-color: #577192 !important;
  font-family: "Acme";
  font-size: 19px !important;
} /* So many uses of !important.. but I had to. Bootstrap and all */

/* Details page CSS */

#districts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2F283C;
  color: #CE9045;
  font-family: "Acme";
}

.card.list {
  max-width: 900px;
  background-color: #3B4566;
  border-radius: 10px;
}

.card.detail-container,
.moves {
  border: 2px solid #E04327;
  padding: 15px;
  margin: 15px;
}

.img-fluid.back {
  height: 100%;
  border-radius: 10px;
}

.detail-image {
  border-radius: 10px;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 28px;
}

.moves {
  max-width: 900px;
  width: 100%;
  background-color: #3B4566;
  border-radius: 10px;
}

.table.misc {
  color: #CE9045;
  font-family: "Acme";
  font-size: 20px;
  margin: 0;
}

.table.misc th,
.table.misc td {
  border: none;
}

/* Footer CSS */

#finale {
  color: #CE9045;
  transition: all 0.3s ease;
  font-size: 20px;
  font-family: "Acme";
}

.p-3 {
  font-size: larger;
}