/* General CSS */

* {
  box-sizing: border-box !important; /* I don't think this is doing anything? Even with !important? */
}

body {
  background-color: #2F283C !important;
} /* Now I know why applying coloring to body for Eudaimonia didn't work.. it was because of Bootstrap! !important handles this */

/* Navbar and Header CSS */

.navbar-brand {
  position: relative;
  background: url(../Images/icons/Sunspot.png);
  width: 170px;
  height: 50px;
  left: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-brand,
.nav-link {
  color: #C97D60;
  transition: all 0.3s ease;
  font-size: 25px;
  font-family: "Acme";
}

.nav-link {
  position: relative;
}

.nav-link:hover,
.nav-link:active {
  color: #C97D60 !important;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #C97D60;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.header-container {
  background-image: url(../Images/hero/GGBA.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-container h1 {
  font-size: 80px;
  font-family: "Acme";
  color: #C97D60;
  /* #C97D60; */
  text-shadow: 2px 2px 5px #34356F;
  /* animation: */
}

/* Blurb section CSS */

.blurb-info {
  color: #C97D60;
  font-family: "Acme";
  font-size: larger;
}

/* Info section CSS */

.mb-4 {
  color: #C97D60;
  font-family: "Acme";
}

.h-101 {
  border-color: #2F283C !important;
  transition: all 0.3s;
}

.h-101:hover {
  transform: scale(1.15);
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} /* To make it so all the cards are the same size */

.card-body {
  background-color: #2F283C;
}

.card-title {
  color: #C97D60;
  font-family: "Acme";
}

.card-text {
  color: #C97D60;
  font-family: "Acme";
}

.btn-secondary {
  color: #C97D60 !important;
  background-color: #2F283C !important;
  border-color: #2F283C !important;
  font-family: "Acme";
} /* So many uses of !important.. but I had to. Bootstrap and all */

/* Footer CSS */

#finale {
  color: #C97D60;
  transition: all 0.3s ease;
  font-size: 20px;
  font-family: "Acme";
}

.p-3 {
  font-size: larger;
}